* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ===========
   Desktop CSS
   =========== */

body {
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
  width: 100%;
  display: block;
}

main {
  width: 400px;
  text-align: center;
  background: #eee;
  margin-left: 35%;
}

header {
  width: 400px;
  margin-left: 35%;
  background: #02C39A;
  text-align: center;
}

h1 {
  font-family: 'Quicksand';
  font-size: 45px;
  font-weight: 500;
  color: white;
  margin: 0px;
}

h3 {
  font-family: 'Quicksand';
  font-size: 30px;
  color: black;
  font-weight: 400;
}

h4 {
  font-family: 'Quicksand';
  font-size: 20px;
  color: #eee;
  margin: 0px;
}

p {
  margin: 0;
}

.intro {
  padding: 15px 15px 0px 15px;
}

ul {
  padding-left: 0px;
}

ul .pocket-coach-list {
  text-align: left;
  padding-left: 70px;
}

li {
  list-style: none;
  padding-top: 15px;
  line-height: normal;
}

li .employment {
  list-style: circle;
}

button {
  background-color: #02C39A;
  color: white;
  border-radius: 15px 15px 15px 15px;
  border-color: #eee;
  padding: 10px;
}

.dropdown {
  float: left;
  padding: 5px;
}

.btn-primary {
  background-color: #eee;
  border-color: #eee;
  color: #02C39A;
}

.menu {
  float: right;
  padding-bottom: 10px;
}

.login {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: #eee;
}

/*pocket coach css*/

.pocket-coach-head {
  padding: 10px;
}

footer {
  background: #02C39A;
  margin-left: 35%;
  width: 400px;
  text-align: center;
}
